body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
.section {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 20%;
    background-color: aqua;
    border-right: 3px solid black;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    background-color: beige;
    overflow: hidden;

}
.chat-box {
    height: 700px;
    width: 80%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.receiver {
    border: 3px solid black;
    border-radius: 5px;   
    background-color: aqua;
    text-align: right;
    width: 100%;
    padding: 10px;
}
.chat-message {
    width: 90%;
    height: 700px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column; 
    overflow-y: scroll;   
}
.message {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e6e9ff;
    border-radius: 5px;
}
.meta {
    font-size: 15px;
    font-weight: bold;
    color: #7386ff;
    opacity: 0.7;
    margin-bottom: 7px


}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    width: 100%;
    bottom: 0;
    padding: 50px;
    background-color: aqua;
}
input[type="text"] {
    width: 30em;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    
}
span {
    color: red
}

button {
    background-color: #7386ff;
    padding: 10px;
    margin: 0 10px;
    color: white;
    border: 3px solid white;
}

